{% set title = "About" %}
{% extends "base.html" %}
{% block main %}
<div class="about-us-container">

    <div class="about-us">
        <div class="about-img">
            <img src="/static/images/About.png" alt="">
        </div>

        <div class="about-main-text">
            <h4>About</h4>
            <h2>Welcom to SneakPeek - <br>the virtual walkway where every step tells a story</h2>
            <hr>
            <p>At SneakPeek, we believe that life's journey is a series of small, meaningful steps. Our platform is
                not just about shoes; it's about the stories they carry, the memories they hold, and the adventures
                they've witnessed. We've created a space for you to share your daily steps, one shoe at a time.

                Whether you're rocking your favorite sneakers, strutting in stylish boots, or keeping it cozy in
                slippers, we invite you to upload a snapshot of your daily shoe choice. Because every shoe has a tale to
                tell, and we're here to weave those tales together.
            </p>


            <div class="about-secondary-text">
                <div class="text1">
                    <h3>250 000+</h3>
                    <h5>Users</h5>
                </div>

                <div class="text2">
                    <h3>20k</h3>
                    <h5>Donations</h5>
                </div>
            </div>
        </div>
    </div>
    <p>Why shoes? Because they're more than just fashion statements—they're a reflection of your mood, your personality,
        and the moments that make up your day. With SneakPeek, you can create a visual diary of your life, one pair
        of shoes at a time.
        <br><br>

        Join our diverse community of shoe enthusiasts, fashionistas, and everyday adventurers. Share your style,
        discover new trends, and connect with like-minded individuals who appreciate the art of stepping out in style.
        <br><br>
        SneakPeek is not just an app; it's a celebration of individuality, expression, and the unique paths we all
        walk. Lace up, snap a pic, and let your shoes tell the story. Welcome to a community where every step counts!
    </p>
</div>

{% endblock %}