{% extends "base.html" %}
{% block main %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    {% if "success" in messages %}
    <li>Welcome back, {{ current_user.username }}!</li>
    {% endif %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col-1">
            <h2>Sneak<br>Peek</h2>
            <h3>SneakPeek: Uplaod your daily sneeaker to SneakPeek</h3>
            <button class="general-button" type="button"><a href="{{ url_for('login') }}">Login</a><img
                    src="/static/images/arrow.png" alt=""></button>
        </div>
        <div class="col-2">
            <img src="/static/images/AirMax.png" alt="" class="banner-image">
            <div class="color-box"></div>
        </div>
    </div>
</div>


{% endblock %}