{% extends "base.html" %}
{% block main %}
<h1>Register Page</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/register" method="POST">
    <input type="text" class="form-control" id="username" placeholder="Enter name" name="username">
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
    <button type="submit">Register</button>
</form>
{% endblock %}