{% extends "base.html" %}
{% block main %}
<div class="upload-container">
    <div class="upload-panel">
        <h1>File Upload</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file">Choose a file:</label>
            <input type="file" name="file" accept="image/*" required>
            <br>
            <input type="text" class="form-control" placeholder="Display Name" name="display_name" required><br>
            <input type="text" class="form-control" placeholder="Nike" name="Brand" required><br>
            <input type="text" class="form-control" placeholder="Nike Jordan 1" name="Type" required><br>
            <button type="submit" class="general-button-2">Uplaod</button>
        </form>
    </div>
</div>
{% endblock %}